; ========== Token-Syncer Configuration ==========
;
; NOTE: The token-syncer comes with reasonable defaults for most settings.
;

{
 ;; The HTTP client properties
 :http-client-properties {;; The HTTP connect timeout (milliseconds) for instance requests:
                          :connection-timeout-ms 5000

                          ;; The HTTP idle timeout (milliseconds) for instance requests:
                          :idle-timeout-ms 30000

                          ;; Whether the HTTP client should use SPNEGO while talking to the routers:
                          :use-spnego false}}
