dist: xenial
language: java
jdk: oraclejdk11

addons:
  apt:
    packages:
    - nginx
  artifacts: true

branches:
  only:
    - master
    - /^build\/.*$/

cache:
  directories:
    - $HOME/.lein
    - $HOME/.local
    - $HOME/.m2

before_install:
  - unset _JAVA_OPTIONS  # Avoid unwanted _JAVA_OPTIONS set by Travis CI
  - echo "Sudo-enabled build? ${TRAVIS_SUDO}"

install:
  - ./waiter/bin/ci/install-lein

matrix:
  include:
    - name: 'Kitchen tests'
      language: python
      python: "3.6"
      before_script: cd containers/test-apps && ./bin/ci/setup.sh
      script: ./bin/ci/run.sh

    - name: 'Token syncer tests'
      before_script: cd token-syncer
      script: ./bin/ci/run-all-tests.sh

    - name: 'Waiter unit tests'
      before_script: cd waiter
      script: ./bin/ci/run-unit-tests.sh

    - name: 'Waiter integration tests: composite-fast'
      services: docker
      before_script: cd waiter
      script: ./bin/ci/run-integration-tests.sh composite eftest integration-fast

    - name: 'Waiter integration tests: composite-slow'
      services: docker
      before_script: cd waiter
      script: ./bin/ci/run-integration-tests.sh composite eftest integration-slow

    - name: 'Waiter CLI integration tests'
      services: docker
      before_script: cd cli && ./bin/ci/setup.sh
      script: ./bin/ci/run-integration-tests.sh
