sudo: required
dist: trusty
group: deprecated-2017Q4
language: java
jdk:
- oraclejdk8
services:
  - docker
branches:
  only:
  - master
env:
  global:
    - DEPS_CMD='lein with-profiles +test voom build-deps'
    - LEIN_GET='wget https://raw.githubusercontent.com/technomancy/leiningen/2.8.1/bin/lein'
    - LEIN_CHMOD='chmod +x ./lein'
    - _JAVA_OPTIONS='' # Avoid unwanted _JAVA_OPTIONS set by Travis CI
  matrix:
    - TEST_DIR=kitchen TEST_CMD='lein test'
    - TEST_DIR=waiter TEST_CMD=./bin/ci/run-unit-tests.sh
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests.sh parallel-test integration-fast'
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests.sh parallel-test integration-slow'
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests.sh parallel-test explicit'
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests-shell-scheduler.sh parallel-test integration-fast'
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests-shell-scheduler.sh parallel-test integration-slow'
    - TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests-shell-scheduler.sh parallel-test explicit'
    - TEST_DIR=token-syncer TEST_CMD='./bin/ci/run-unit-tests.sh'
matrix:
    fast_finish: true
    allow_failures:
      - env: TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests.sh parallel-test explicit'
      - env: TEST_DIR=waiter TEST_CMD='./bin/ci/run-integration-tests-shell-scheduler.sh parallel-test explicit'
cache:
  directories:
    - $HOME/.m2
    - $HOME/.voom-repos
before_script: ($LEIN_GET && $LEIN_CHMOD && export PATH=$(pwd):$PATH && cd $TEST_DIR && $DEPS_CMD)
script: cd $TEST_DIR && $TEST_CMD
addons:
    artifacts: true
