/target
/classes
/checkouts
pom.xml
pom.xml.asc
lib/
*.class
/.lein-*
/.nrepl-port
log/

# Intellij specific files
.idea
*.iml
*.ipr

# test2junit output files
build.xml
test2junit/

# Configuration for your local environment
*config-local.edn
bin/generated-nginx.conf

# Shell scheduler directory
scheduler/

# Minimesos
.minimesos
