{
 ; ---------- Cluster ----------

 :zookeeper {:connect-string #config/env "WAITER_ZOOKEEPER_CONNECT_STRING"}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ; ---------- Security ----------

 :authenticator-config {:kind :one-user
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}}

 ; ---------- Scheduling ----------

 :scheduler-config {
                    ;; Use Marathon for scheduling instances:
                    :kind :marathon
                    :marathon {
                               ;; The URL for your Marathon HTTP API:
                               :url #config/env "WAITER_MARATHON"
                               :mesos-slave-port 5051
                               :http-options {:conn-timeout 10000
                                              :socket-timeout 10000
                                              :spnego-auth false}}}

 ; ---------- CORS ----------
 :cors-config {:kind :allow-all }}
