{
 ; ---------- Cluster ----------

 :zookeeper {:connect-string #config/env "WAITER_ZOOKEEPER_CONNECT_STRING"}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ;; Set the DNS name for your Waiter cluster:
 :hostname #config/env "MINIMESOS_NETWORK_GATEWAY"

 ; ---------- Security ----------

 :authenticator-config {:kind :one-user
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}}
 :cors-config {
               ;; :kind :patterns takes a simple list of regular expressions (see below):
               :kind :patterns
               :patterns {
                          ;; List of regular expressions representing origins to allow:
                          :allowed-origins [#config/regex "^http://[^\\.]+\\.localhost:\\d+$"]}}

 ; ---------- Scheduling ----------

 :scheduler-config {
                    ;; Use Marathon for scheduling instances:
                    :kind :marathon
                    :marathon {
                               ;; The URL for your Marathon HTTP API:
                               :url #config/env "WAITER_MARATHON"}}

 ; ---------- CORS ----------
 :cors-config {
     :kind :allow-all
 }}
