{
 ; ---------- Cluster ----------

 :zookeeper {;; Use an in-process ZK (not for production use):
             :connect-string :in-process}

 ; ---------- Metrics - Internal ----------

 :metrics-config {
                  :codahale-reporters {
                              :graphite {
                                         :factory-fn waiter.reporter/graphite-reporter
                                         :filter-regex #config/regex "^jvm.*|^waiter.*"
                                         :host "localhost"
                                         :period-ms 3000
                                         :pickled? true
                                         :prefix "waiter-internal"
                                         :port #config/env-int "GRAPHITE_SERVER_PORT"}}}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ; ---------- Security ----------

 :authenticator-config {:kind :one-user
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}}

 ; ---------- Scheduling ----------

 :scheduler-config {:kind :kubernetes
                    :kubernetes {:authorizer {:kind :sanity-check
                                              :sanity-check {:factory-fn waiter.authorization/sanity-check-authorizer}}
                                 :fileserver {:port 591}
                                 :url "http://localhost:8001"}}

 ; ---------- Error Handling ----------

 :deployment-error-config {:min-hosts 1}

 :scheduler-gc-config {:broken-service-min-hosts 1}

 ; ---------- CORS ----------

 :cors-config {:kind :allow-all}}
