{
 ; ---------- Cluster ----------

 :cluster-config {:name #config/env "WAITER_CLUSTER_NAME"}

 :zookeeper {
             ;; Use an in-process ZK (not for production use):
             :connect-string :in-process}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ; ---------- Security ----------

 :authenticator-config {:kind :dynamic
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}
                        :saml {:factory-fn waiter.auth.saml/saml-authenticator
                               :idp-uri #config/env "SAML_IDP_URI"
                               :idp-cert-uri #config/env "SAML_IDP_CERT_URI"}
                        :dynamic {:factory-fn waiter.auth.dynamic/dynamic-authenticator
                                  :default-kind :one-user}}

 ; ---------- Scheduling ----------

 :scheduler-config {
                    ;; :kind :shell simply schedules instances on your local machine (for testing purposes only):
                    :kind :shell}

 ; ---------- CORS ----------
 :cors-config {:kind :allow-all}

 ;; Require fewer failed health checks
 :health-check-config {:failed-check-threshold 2}}
