{
 ; ---------- Cluster ----------

 :cluster-config {:name #config/env "WAITER_CLUSTER_NAME"}

 :zookeeper {
             ;; Use an in-process ZK (not for production use):
             :connect-string :in-process}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ; ---------- Security ----------

 :authenticator-config {:jwt {:http-options {:conn-timeout 10000
                                             :socket-timeout 10000
                                             :spnego-auth false}
                              :issuer "test.com"
                              :jwks-url #config/env "JWKS_SERVER_URL"
                              :subject-key :sub
                              :supported-algorithms #{:eddsa :rs256}
                              :token-type "JWT"
                              :update-interval-ms 60000}
                        :kind :one-user
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}}

 ; ---------- Scheduling ----------

 :scheduler-config {
                    ;; :kind :shell simply schedules instances on your local machine (for testing purposes only):
                    :kind :shell}

 ; ---------- CORS ----------
 :cors-config {:kind :allow-all}

 ;; Require fewer failed health checks
 :health-check-config {:failed-check-threshold 2}}
