{
 ; ---------- Cluster ----------

 :zookeeper {
             ;; Use an in-process ZK (not for production use):
             :connect-string :in-process}

 ; ---------- Metrics - Internal ----------

 :metrics-config {
                  :codahale-reporters {
                                       :graphite {
                                                  :factory-fn waiter.reporter/graphite-reporter
                                                  :filter-regex #config/regex "^jvm.*|^waiter.*"
                                                  :host "localhost"
                                                  :period-ms 3000
                                                  :pickled? true
                                                  :prefix "waiter-internal"
                                                  :port #config/env-int "GRAPHITE_SERVER_PORT"}}}

 ; ---------- Network ----------

 ;; Set the bind address to a specific IP:
 :host "127.0.0.1"

 ;; Set the port:
 :port #config/env-int "WAITER_PORT"

 ; ---------- Token Storage ----------

 :kv-config {:kind :persistent
             :persistent {:factory-fn waiter.kv/new-persistent-kv-store
                          :target-file "kv-store.bin"}}

 ; ---------- Security ----------

 :authenticator-config {:kind :one-user
                        :one-user {;; The user account used to launch services:
                                   :run-as-user #config/env "WAITER_AUTH_RUN_AS_USER"}}

 ; ---------- Scheduling ----------

 :scheduler-config {
                    ;; :kind :shell simply schedules instances on your local machine (for testing purposes only):
                    :kind :shell}

 ; ---------- CORS ----------
 :cors-config {:kind :allow-all}

 ;; Require fewer failed health checks
 :health-check-config {:failed-check-threshold 2}}
